---
import Layout from "@/layouts/Layout.astro";
import { supabase } from "@/db/supabase";
import PostPage from "@/components/PostPage";

export async function getStaticPaths() {
  const { data: posts, error } = await supabase.from("posts").select("*");
  console.log(posts);

  if (error || !posts) {
    console.error("Error fetching post slugs:", error);
    return [];
  }

  return posts.map((post) => ({
    params: { post: post.slug },
  }));
}

const { post } = Astro.params;
---

<Layout title={post}>
  <main>
    <PostPage slug={post} client:load />
  </main>
</Layout>
